.heading h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem 0;
  font-family: "Smooch Sans", sans-serif;
  text-decoration: underline;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Smooch Sans", sans-serif;
  text-align: center;
  width: 100%;
}

.project-card {
  margin: 3rem;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eeeeee;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image-container {
  background-color: transparent;
  overflow: hidden;
  mix-blend-mode: multiply;
}

a {
  text-decoration: none;
  color: inherit;
}

.project-name-container {
  padding: 1rem;
  background-color: #eeeeee;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-name {
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  width: 100%;
  text-align: center;
}

.project-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: #051c20;
  transition: width 0.3s ease;
}

.project-name::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #051c20;
  transition: width 0.3s ease;
}

.project-card:hover .project-name::before {
  left: 0;
  width: 100%;
}

.project-description {
  margin-top: 0.6rem;
  text-align: center;
  font-size: 1.6rem;
}

@media only screen and (max-width: 800px) {
  .project-card-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    margin: 2.5rem;
  }

  .project-name-container {
    padding: 1rem;
  }

  .project-name {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 1rem;
  }

}

